*{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.a{
   text-align: center;
   background-color: chartreuse;
   border: dotted rgb(46, 44, 146);
}
h4, h6, h2{
   color: rgb(255, 255, 255);
   font-style:normal;
}
button
{
   color: yellow;
   
}
body{
   
   background-image: url('https://static.vecteezy.com/system/resources/previews/001/225/154/original/black-low-poly-geometric-background-vector.jpg');
   background-size:50%;
   background-attachment: fixed;
}
.container
{
  background-color: black;
}
hr
{
   color: rgb(150, 147, 147);
   width: 500px;

}
p
{
   color: antiquewhite;
}