*{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.a{
   text-align: center;
   background-color: chartreuse;
   border: dotted rgb(46, 44, 146);
}
h4, h6, h2{
   color: rgb(255, 255, 255);
   font-style:normal;
}
button
{
   color: yellow;
   
}
body{
   
   background-image: url('https://static.vecteezy.com/system/resources/previews/001/225/154/original/black-low-poly-geometric-background-vector.jpg');
   background-size:50%;
   background-attachment: fixed;
}
.container
{
  background-color: black;

}
hr
{
   color: rgb(150, 147, 147);
   width: 500px;

}
p
{
   color: white;
}
.sobremi
{
   text-align: center;
   margin-left: 190px;
   margin-right: 190px;
}
.list-group
{
   margin-left: 460px;
   margin-right: 460px;
}

.breadcrumb{
   margin-left: 190px;
   margin-right: 190px;
}
.breadcrumb2{
   margin-left: 300px;
   margin-right: 300px;
}
.acordion{
   display: flex;
   width: 80%;
   
}
 .row
{
  display: flex;
  margin-left: 575px;
  margin-top: -145px;
  position: relative;
}
.row2{
  margin-left: 80px;
} 

